<div class="content-container">
    <div class="row container">
        <div class="col-1"></div>
        <div class="col-5">
            <div class="row">
                <div class="col-10">
                    <h1>Locate your favorite places</h1>
                    <p>Organize where you want to go next</p>
                    <button class="btn btn-dark" routerLink="/maps">Start</button>
                </div>
            </div>
        </div>
        <div class="col-5 laptop">
            <img src="../../assets/images/laptop-image-min.png" alt=""/>
        </div>
        <div class="col-1"></div>
    </div>
    <footer>
        Made by Andres Hernandez
    </footer>
</div>
